* {
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
/* banner style */
main{
    
}
.section1{
    display: flex;
    align-items: center;
    margin:83px 170px 0 100px;
}
.person-image{
    padding:20px 0px 0px 30px;
    background-color: rgb(155, 146, 146);
}
.person-about{
    margin:100px;
    

}
.person-title{
    font-weight: 800;
    font-size:50px;
    line-height: 50px;
    margin-bottom: 24px;
}
.person-discription{

font-weight: 400;
font-size: 15px;
line-height: 26px;
}
.point{
    margin-top:16px;
    padding-right: px;
}
/* person style end */
/* plan style start */
.plan{
    text-align: center;
    margin-top:75px;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 50px;
}
.plan-container{
    display:flex;
    gap:250px;
}
section{
    margin:153px 230px;
}
.plan-container img, h4, p{
    text-align: justify;
}
.plan-container p{
    width: 150px;
}
/* plan style end */
/* call now style start */

.call-now{
    
    
    width: 100%;
    height: 100%;
    margin:153px 130px  153px 153;
    border-radius: 5px;
    background: url('images/watch.png') no-repeat center / cover;
}
.bg{
    font-weight: 500;
    font-size: 20px;
    padding:60px 0px 150px 64px;
}
.btn{
    
    padding:20px 60px;
    margin-top:24px;
    width: 100px;
    height: 30px;
    color:black;
    
}


