* {
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
/* banner style */
header{
     background-color: #cfc5c1;
    background-image: url('images/banner/banner1.png') cover; 
}
.header-container{
    display:flex;
    justify-content: space-between;
    justify-items: center;
}
.head-banner{
    height: 200px;
    width:200px;
    margin-right: 50px;
}
.head-contant{
    display: flex;
    padding-top:150px;
    margin-right: 300px;
}
    

.section1{padding: 400px;
    display: flex;
    align-items: center;
    margin:83px 170px 0 100px;
}
.person-image{
    padding:20px 0px 0px 30px;
    background-color: rgb(155, 146, 146);
    margin-right: 50px;
}
.person-about{
    margin:100px;
    

}
.person-title{
    font-weight: 800;
    font-size:50px;
    line-height: 50px;
    margin-bottom: 24px;
}
.person-discription{

font-weight: 400;
font-size: 15px;
line-height: 26px;
}
.point{
    margin-top:16px;
    padding-right: px;
}
/* person style end */
/* plan style start */
.plan{
    text-align: center;
    margin-top:75px;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 50px;
}
.plan-container{
    display:flex;
    gap:250px;
}
section{
    margin:153px 230px;
}
.plan-container img, h4, p{
    text-align: justify;
}
.plan-container p{
    width: 150px;
}
/* plan style end */
/* call now style start */

.call-now{
    
    
    width: 100%;
    height: 100%;
    margin:153px 130px  153px 153;
    border-radius: 5px;
    background: url('images/watch.png') no-repeat center / cover;
}
.bg{
    font-weight: 500;
    font-size: 20px;
    padding:60px 0px 150px 64px;
    margin-right:59px 617px 147px 64px;
}
.btn{
    
    padding:20px 60px;
    margin-top:24px;
    width: 160px;
    height: 64px;
    color:rgb(233, 253, 54);
    
}
/* footer style */
footer{
    background-color: black;
}
.footer-contant{
    display:flex;
    margin:165px 230px 94px;
    justify-content: space-betweens;
    padding-bottom: 100px;


}
.footer-left{
    color:white;
    
    margin-top:165px;
}


.discription{
    margin:16px 0px 24px 0px;
}
.email{ margin-bottom: 16px;
}
.phone{margin-bottom:32px; 
}
.social-icon a{
    margin-right: 
    10px;
    
}



.footer-right{
    margin-top:165px;
    margin-left:200px;
}
.subscribe{
    color:white;
    margin-bottom: 31px;
    

}
.email2{padding: 21px;
    width:200px;
   margin-right: 229px;
    color:black;
    border-radius: 10px;
}
.submit{width:200px;
    border-radius:5px ;
    padding:20px 0;
    margin-right: 383px;
}
.submit span {color:#F15B22;}